<div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="white">
        <div class="logo">
            <a routerLink='/' class="simple-text logo-normal">
                {{title}}
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">
                        <i class="fa fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <!-- your sidebar here -->
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <i class="fa fa-bars d-none d-lg-block" (click)="toggleSidebar()"></i>
                    <a class="navbar-brand" href="javascript:;">Dashboard</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                    (click)="toggleMobile()" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">

                        <!-- your navbar here -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <app-main-page></app-main-page>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright">
                    &copy; 2021, made with <i class="fa fa-heart-o"></i> by
                    <a href="https://iparagsaxena.in" target="_blank">Parag Saxena</a>
                </div>
            </div>
        </footer>
    </div>
</div>